rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /sitios/{tenantId}/media/{allPaths=**} {
      allow get: if true;
      allow list: if request.auth != null
                  && request.auth.token.tenantId == tenantId;
      allow create, update: if request.auth != null
                            && request.auth.token.tenantId == tenantId
                            && request.resource.size < 5 * 1024 * 1024
                            && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null
                    && request.auth.token.tenantId == tenantId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
